/*! BS Site 4.0.0 January 2018 by Britt Scott */
* { margin: 0; padding: 0; box-sizing: border-box; }

a { text-decoration: none; }

.bs-container-bg a, .bs-container-bg a:visited { color: #00bcd4; }

ul { list-style-type: none; }

html, body { font-family: Verdana, sans-serif; font-size: 96.84%; line-height: 1.5; }

html { overflow-x: hidden; }

body { background-color: black; margin-top: 2.5rem; margin-bottom: 3rem; }

.bs-bar { width: 100%; overflow: hidden; }

.bs-bar-item, .bs-dropdown-hover { padding: 0.5rem 1rem; float: left; width: auto; border: none; outline: none; display: block; background-color: #808184; color: black; }
.bs-bar-item:hover, .bs-mobile:hover, .bs-dropdown-hover:hover, .bs-dropdown-content a:hover { background-color: black; color: white; }

nav, footer { background-color: #808184; color: black; }

.bs-mobile-btn { padding: 0.5rem 1rem; float: right; background-color: white; color: black; }
.bs-mobile-btn:hover { background-color: black; color: white; }

.bs-mobile { display: block; padding: 0.5rem 0 0.5rem 0; width: 100%; text-align: center; color: black; }

.bs-nav-title { padding-left: 0 !important; padding-right: 0 !important; color: white; background-color: transparent !important; cursor: default; }

.bs-nav-logo { margin: 0.25em 1rem 0 1rem; float: left; border: none; outline: none; display: block; cursor: default; }

.bs-menu-highlight { background-color: white; color: black; }

.bs-menu-dropdown-highlight { background-color: #808184; }

.bs-dropdown-hover a { color: inherit; }

.bs-dropdown-hover:hover .bs-dropdown-content { display: block; z-index: 1; }

.bs-bar .bs-dropdown-hover, .bs-bar .bs-dropdown-click { position: static; float: left; }

.bs-dropdown-content { cursor: auto; display: none; position: absolute; min-width: 160px; margin: 0; }
.bs-dropdown-content:hover .bs-dropdown-hover { color: inherit; }
.bs-dropdown-content a { display: block; padding: 0 1em 0 1em; }

.bs-search-mobile-adjust { margin: 1rem 0; }

footer { font-size: 0.8rem; }

footer .bs-bar span { background-color: transparent !important; cursor: default; }

footer b { padding-bottom: 0.8em !important; }

.bs-to-top { background-color: rgba(50, 50, 50, 0.9); color: white; position: fixed; right: 0; z-index: 2; bottom: 2.5rem; opacity: 0.75; border-radius: 2rem; display: inline-block; padding: 0.5rem 1rem; vertical-align: middle; }
.bs-to-top:hover { opacity: 1; }

.bs-btn, .bs-button { border: none; display: inline-block; outline: 0; padding: 0.5rem 1rem; vertical-align: middle; overflow: hidden; text-decoration: none; color: inherit; background-color: inherit; text-align: center; cursor: pointer; white-space: nowrap; }
.bs-btn:hover, .bs-button:hover { box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5), 0 0.75rem 1.25rem 0 rgba(0, 0, 0, 0.4); }

.bs-card { box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.2), 0 0.25rem 1.25rem 0 rgba(0, 0, 0, 0.19); margin-left: -1rem; margin-top: 0.5rem; color: #000; background-color: #fff; }

.bs-hover-none:hover, .bs-indicator-desktop:hover, .bs-indicator-tablet:hover, .bs-indicator-mobile:hover { background-color: transparent !important; box-shadow: none !important; color: inherit; cursor: default; }

.embed-responsive { position: relative; display: block; width: 100%; padding: 0; overflow: hidden; }

.embed-responsive::before { display: block; content: ""; }

.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video { position: absolute; top: 0; bottom: 0; left: 0; width: 100%; height: 100%; border: 0; }

.embed-responsive-21by9::before { padding-top: 42.857143%; }

.embed-responsive-16by9::before { padding-top: 56.25%; }

.embed-responsive-4by3::before { padding-top: 75%; }

.embed-responsive-1by1::before { padding-top: 100%; }

form { padding: 1rem 1rem 3rem 1rem; margin-bottom: 2rem; }
form div { margin-bottom: 1rem; }
form label { display: block; margin-left: 3em; }
form .bs-input { float: right; width: 95%; }
form .fas { vertical-align: top; font-size: 2em; }
form #reCaptchaDiv { border: 0.05rem white solid; }
form .error { background-color: #f44336; color: black; }
form .success { background-color: #4CAF50; color: white; }
form .captcha { background-color: #ff9800; color: white; }
form input[type=reset] { float: left; font-size: 1.25rem; background-color: #ff9800; color: white; }
form input[type=submit] { float: right; font-size: 1.25rem; background-color: #808184; color: black; }

.bs-form-error { background-color: yellow; color: #f44336; }

.hiddenIframe { display: none; }

.bs-center-object, .bs-gallery div img { position: relative; left: 50%; transform: translateX(-50%); }

.bs-container-bg { background-color: rgba(50, 50, 50, 0.9); color: white; padding: 0.33rem; }

.bs-container, form { max-width: 63.36rem; margin: auto; }

section { margin-top: 1rem; margin-bottom: 1rem; }

.bs-page-announce { background-color: white; color: black; border-radius: 0.5rem; padding: 0.5rem 1rem; }

.bs-top, .bs-bottom { position: fixed; width: 100%; z-index: 1; }

.bs-top { top: 0; }

.bs-bottom { bottom: 0; }

.bs-row:before, .bs-bar:before, .bs-gallery:before, .bs-link-btns:before, .bs-resume-links:before, .bs-powered-by:before, .bs-row:after, .bs-bar:after, .bs-gallery:after, .bs-link-btns:after, .bs-resume-links:after, .bs-powered-by:after { content: ""; display: table; clear: both; }

.bs-col, .bs-half, .bs-third, .bs-resume-links a, .bs-twothird, .bs-threequarter, .bs-quarter, .bs-fifth, .bs-powered-by a { float: left; width: 100%; }

.bs-quarter { width: 24.5%; }

.bs-fifth, .bs-powered-by a { width: 19.99%; }

.bs-third, .bs-resume-links a { width: 32.75%; }

.bs-half { width: 49.99%; }

.bs-threequarter { width: 74.99%; }

.bs-twothird { width: 66.66%; }

.bs-rest { overflow: hidden; }

.embed-responsive { margin-bottom: 2rem; }

.bs-gallery div { width: 24.5%; display: inline-table; margin-bottom: 1rem; }
.bs-gallery div img { margin-top: 0.5rem; }
.bs-gallery div img:hover { opacity: 0.5; }
.bs-gallery div p { margin: 0.5rem; }
.bs-gallery div .fas { margin-left: 1rem; font-size: 1.25em; }

.bs-have-completed { background-color: #4CAF50; color: white; text-decoration: line-through; }

.bs-has-problems { background-color: #f44336; color: black; text-decoration: line-through; }

.bs-center-txt { text-align: center; }

p { margin-top: 0.5rem; margin-bottom: 0.5rem; }

.bs-ul { list-style-type: none; }
.bs-ul li { padding: 0.5rem 1rem; border-bottom: 0.15rem solid white; }
.bs-ul li:last-child { border-bottom: none; }

mark { background: yellow; color: black; }

.version { color: white !important; background-color: #3853A4; }

.first { color: yellow !important; font-size: 1.25rem; font-variant: small-caps; }

.bs-last-mod { color: #fdf5e6; }

.bs-site-ver { font-weight: bold; padding: 0.2rem; border-radius: 0.5rem; background-color: #808184; color: black; }

.bs-text-size-default { font-size: 1rem; }

.bs-bg-grid { position: fixed; transform: translate(-50%, -10%); -ms-transform: translate(-50%, -10%); top: 0; left: 50%; z-index: -1; font-size: 106rem; color: #3853A4; }

.bs-input { padding: 0.5rem 0; display: block; border: none; font-size: 1.25rem; width: 100%; background-color: white; color: black; }

.bs-tag, h2 { border-radius: 0.5rem; width: 100%; display: inline-block; text-align: center; margin-bottom: 0.5rem; margin-top: 0.5rem; background-color: #3853A4; color: white; }

blockquote { padding: 1rem; margin-top: 1rem; font-size: 1.25em; }

.rj-bs-text { color: black; }

footer .fab { background-color: white; }

.fa-facebook { color: #607d8b; }

.rj-bs-outline, .fa-desktop { color: white; }

.bs-page-movies-tv .fas, .bs-page-movies-tv .rj { background-color: black; position: relative; margin-left: 0.5rem; padding: 0.25rem 0.25rem; }

.fa-tv { color: #00bcd4; }

.fa-film { color: yellow; }

.bs-page-blog b, .fa-thumbs-up { color: #4CAF50; }

.formValidate, .fa-youtube, .fa-thumbs-down, .fa-file-pdf { color: #f44336; }

.bs-page-announce span, .rj-bs-grid, .fa-mobile-alt, .fa-file-word { color: #3853A4; }

.rj-bs-block, .fa-file-alt { color: #808184; }

.fa-tablet-alt, .fa-html5, .bs-page-blog i { color: #ff9800; }

.fa-css3-alt, .fa-font-awesome { color: #2196F3; }

.fa-js { color: saddlebrown; }

.rj-hentai-txt, .fa-sass { color: #e91e63; }

.bs-link-btns, .bs-resume-links, .bs-powered-by { margin: 1em 0 1em 0; }
.bs-link-btns a, .bs-resume-links a, .bs-powered-by a { background-color: black; color: white; text-align: center; padding: 0.5rem 0 0.5rem 0; border-left: 0.05rem #808184 solid; }
.bs-link-btns a:hover, .bs-resume-links a:hover, .bs-powered-by a:hover { background-color: white; color: black; }

.bs-page-games .bs-tag, .bs-page-games h2, .bs-page-movies-tv .bs-tag, .bs-page-movies-tv h2 { font-size: 1.5rem; font-weight: bold; }

blockquote cite { display: block; font-size: 1rem; }
blockquote cite:before { content: " - "; }

blockquote:nth-child(odd) { border-left: 0.5rem solid #808184; background-color: #3853A4; color: white; }

blockquote:nth-child(even) { border-left: 0.5rem solid #3853A4; background-color: #808184; color: black; }

@media only screen and (min-width: 993px) { .bs-footer-mobile, .bs-indicator-tablet, .bs-mobile-btn, .bs-page-comics a { display: none !important; }
  #menuExtras { display: none; } }
@media (max-width: 992px) and (min-width: 601px) { .bs-indicator-desktop, .bs-footer-mobile, #menuExtras, .bs-mobile-btn, .bs-last-mod, .bs-nav-title, .bs-nav-logo, .bs-page-comics embed { display: none !important; }
  .bs-indicator-tablet { display: inline; }
  .bs-gallery div { width: 32.75%; } }
@media only screen and (max-width: 600px) { .bs-footer-non-mobile, #menuExtras, nav .bs-bar-item, nav .bs-dropdown-hover, .bs-nav-logo, .bs-page-comics embed { display: none !important; }
  .bs-search-mobile-adjust { position: fixed; width: 81%; z-index: 1; top: -0.75rem; }
  .bs-gallery div { clear: left; width: 100%; }
  .bs-gallery div img { left: 50%; transform: translateX(-50%); }
  .bs-page-comics a { display: inline; }
  .bs-link-btns a, .bs-resume-links a, .bs-powered-by a { clear: both; width: 100%; border-left: none; border-bottom: 0.05rem #808184 solid; } }
