.sprite { background-image: url('../images/levels/ThumbsLevels.jpg'); background-color: transparent; background-repeat: no-repeat; }
.Torque-BattleFrog { width: 200px; height: 200px; background-position: 0px 0px; }
.Torque-FarmConcept { width: 200px; height: 200px; background-position: -200px 0px; }
.Torque-FarmInGame { width: 200px; height: 200px; background-position: -400px 0px; }
.Torque-HighSchoolDrag { width: 200px; height: 200px; background-position: -600px 0px; }
.Torque-MechStarterKit { width: 200px; height: 200px; background-position: 0px -200px; }
.Torque-RallyCarAndXboxGamepad { width: 200px; height: 200px; background-position: -200px -200px; }
.Torque-TDKA-OfficeLayoutGenerator { width: 200px; height: 200px; background-position: -400px -200px; }
.Unreal-DmOutpost-Bunker { width: 200px; height: 200px; background-position: -600px -200px; }
.Unreal-DmOutpost-ComCenter { width: 200px; height: 200px; background-position: 0px -400px; }
.Unreal-DmOutpost-Lava { width: 200px; height: 200px; background-position: -200px -400px; }
.Unreal-DmOutpost-Overview { width: 200px; height: 200px; background-position: -400px -400px; }
.Unreal-DmOutpost-Starport { width: 200px; height: 200px; background-position: -600px -400px; }
.Unreal-DualCoreV1 { width: 200px; height: 200px; background-position: 0px -600px; }
.Unreal-DualCoreV2 { width: 200px; height: 200px; background-position: -200px -600px; }
.Unreal-DualCoreV3 { width: 200px; height: 200px; background-position: -400px -600px; }
.Unreal-IHDealershipConcept { width: 200px; height: 200px; background-position: -600px -600px; }
.Unreal-IHDealershipInGame { width: 200px; height: 200px; background-position: 0px -800px; }
