.sprite { background-image: url('../images/toys/ThumbsToys.jpg'); background-color: transparent; background-repeat: no-repeat; }
.Alcatraz { width: 200px; height: 200px; background-position: 0px 0px; }
.AlienAndPredator { width: 200px; height: 200px; background-position: -200px 0px; }
.AlienQueen { width: 200px; height: 200px; background-position: -400px 0px; }
.AmazingSpiderMan18In { width: 200px; height: 200px; background-position: -600px 0px; }
.AvengersAdvIronMan { width: 200px; height: 200px; background-position: -800px 0px; }
.AvengersAdvMandarin { width: 200px; height: 200px; background-position: -1000px 0px; }
.BattleGearBatman { width: 200px; height: 200px; background-position: -1200px 0px; }
.BattleRavagedSpiderMan { width: 200px; height: 200px; background-position: -1400px 0px; }
.BattletechAxMan { width: 200px; height: 200px; background-position: -1600px 0px; }
.BattletechBushwhacker { width: 200px; height: 200px; background-position: -1800px 0px; }
.BlackSuitSpiderMan { width: 200px; height: 200px; background-position: -2000px 0px; }
.BlasterG1 { width: 200px; height: 200px; background-position: 0px -200px; }
.BobaFettSawedOffBlaster { width: 200px; height: 200px; background-position: -200px -200px; }
.BobaFettSD { width: 200px; height: 200px; background-position: -400px -200px; }
.BttfTimeMachine { width: 200px; height: 200px; background-position: -600px -200px; }
.Cell { width: 200px; height: 200px; background-position: -800px -200px; }
.ClassicArmorIronMan { width: 200px; height: 200px; background-position: -1000px -200px; }
.ClownII { width: 200px; height: 200px; background-position: -1200px -200px; }
.CqbSpartanSoldier { width: 200px; height: 200px; background-position: -1400px -200px; }
.CrimsonDynamo { width: 200px; height: 200px; background-position: -1600px -200px; }
.CustomCorvette { width: 200px; height: 200px; background-position: -1800px -200px; }
.CyberSpiderMan { width: 200px; height: 200px; background-position: -2000px -200px; }
.Cyclops1991ToyBiz { width: 200px; height: 200px; background-position: 0px -400px; }
.DaredevilP61BlackWidow { width: 200px; height: 200px; background-position: -200px -400px; }
.DeathStarGunner { width: 200px; height: 200px; background-position: -400px -400px; }
.DeloreanDmc12 { width: 200px; height: 200px; background-position: -600px -400px; }
.DeloreanDmc12Black { width: 200px; height: 200px; background-position: -800px -400px; }
.DodgeChallengerDriftCar { width: 200px; height: 200px; background-position: -1000px -400px; }
.Donatello { width: 200px; height: 200px; background-position: -1200px -400px; }
.DontelloWindUp { width: 200px; height: 200px; background-position: -1400px -400px; }
.DukeVsCobraCommander { width: 200px; height: 200px; background-position: -1600px -400px; }
.ExtremisArmorIronMan { width: 200px; height: 200px; background-position: -1800px -400px; }
.Ezio { width: 200px; height: 200px; background-position: -2000px -400px; }
.F1Racer { width: 200px; height: 200px; background-position: 0px -600px; }
.Ferrari330P4 { width: 200px; height: 200px; background-position: -200px -600px; }
.FerrariF430Spider { width: 200px; height: 200px; background-position: -400px -600px; }
.Ford2005Gt { width: 200px; height: 200px; background-position: -600px -600px; }
.FordGtLm { width: 200px; height: 200px; background-position: -800px -600px; }
.GhostRiderConceptCar { width: 200px; height: 200px; background-position: -1000px -600px; }
.GP02A { width: 200px; height: 200px; background-position: -1200px -600px; }
.GP2009 { width: 200px; height: 200px; background-position: -1400px -600px; }
.GrimlockAnimated { width: 200px; height: 200px; background-position: -1600px -600px; }
.GrimlockClassicDeluxe { width: 200px; height: 200px; background-position: -1800px -600px; }
.GrimlockFallOfCybertron { width: 200px; height: 200px; background-position: -2000px -600px; }
.GrimlockTransformersAnimated { width: 200px; height: 200px; background-position: 0px -800px; }
.Halo3LegendaryEdition { width: 200px; height: 200px; background-position: -200px -800px; }
.HaloReachBoxSet { width: 200px; height: 200px; background-position: -400px -800px; }
.HaloReachLegendaryEdition { width: 200px; height: 200px; background-position: -600px -800px; }
.HeroesRebornIronMan { width: 200px; height: 200px; background-position: -800px -800px; }
.HulkbusterIronMan { width: 200px; height: 200px; background-position: -1000px -800px; }
.IronManIcons { width: 200px; height: 200px; background-position: -1200px -800px; }
.IronManMark3Armor { width: 200px; height: 200px; background-position: -1400px -800px; }
.IronManMark3Armor6in { width: 200px; height: 200px; background-position: -1600px -800px; }
.IronManModernArmor { width: 200px; height: 200px; background-position: -1800px -800px; }
.IronManRepulsorPower { width: 200px; height: 200px; background-position: -2000px -800px; }
.IronManShapeShifters { width: 200px; height: 200px; background-position: 0px -1000px; }
.IronManSilverCenturionArmor { width: 200px; height: 200px; background-position: -200px -1000px; }
.IronManTerradyne { width: 200px; height: 200px; background-position: -400px -1000px; }
.IronManThorbuster { width: 200px; height: 200px; background-position: -600px -1000px; }
.IronManTomcat { width: 200px; height: 200px; background-position: -800px -1000px; }
.IronManTriumphDaytona955i { width: 200px; height: 200px; background-position: -1000px -1000px; }
.IronManVsMandarin { width: 200px; height: 200px; background-position: -1200px -1000px; }
.JangoFettSlaveOne { width: 200px; height: 200px; background-position: -1400px -1000px; }
.JodoKast { width: 200px; height: 200px; background-position: -1600px -1000px; }
.JurrasicParkNascar { width: 200px; height: 200px; background-position: -1800px -1000px; }
.LamborginiGallardo { width: 200px; height: 200px; background-position: -2000px -1000px; }
.LeadfootIronMan { width: 200px; height: 200px; background-position: 0px -1200px; }
.LeiaBoushhDisguise { width: 200px; height: 200px; background-position: -200px -1200px; }
.Leonardo { width: 200px; height: 200px; background-position: -400px -1200px; }
.LostInSpaceBattleRavagedRobot { width: 200px; height: 200px; background-position: -600px -1200px; }
.LostInSpaceMajorWest { width: 200px; height: 200px; background-position: -800px -1200px; }
.LostInSpaceRobotBig { width: 200px; height: 200px; background-position: -1000px -1200px; }
.LostInSpaceRocketLauncherRobot { width: 200px; height: 200px; background-position: -1200px -1200px; }
.MandMsCar { width: 200px; height: 200px; background-position: -1400px -1200px; }
.MarcusFenix { width: 200px; height: 200px; background-position: -1600px -1200px; }
.MarsDollarGeneral { width: 200px; height: 200px; background-position: -1800px -1200px; }
.MasterChiefH2 { width: 200px; height: 200px; background-position: -2000px -1200px; }
.MazdaFurai { width: 200px; height: 200px; background-position: 0px -1400px; }
.Michelangelo { width: 200px; height: 200px; background-position: -200px -1400px; }
.MindstormsNXT { width: 200px; height: 200px; background-position: -400px -1400px; }
.MonopolyNascar { width: 200px; height: 200px; background-position: -600px -1400px; }
.MonsterTruckIronMan { width: 200px; height: 200px; background-position: -800px -1400px; }
.MoversAndHaulersIronMan { width: 200px; height: 200px; background-position: -1000px -1400px; }
.MuscleMachinesFord2002Funline { width: 200px; height: 200px; background-position: -1200px -1400px; }
.MuscleMachinesFord2002FunlineBig { width: 200px; height: 200px; background-position: -1400px -1400px; }
.NinjaBruceToBatman { width: 200px; height: 200px; background-position: -1600px -1400px; }
.OptimusPrime1stMovie { width: 200px; height: 200px; background-position: -1800px -1400px; }
.OptimusPrime20Anniv { width: 200px; height: 200px; background-position: -2000px -1400px; }
.OptimusPrime20AnnivDvdEd { width: 200px; height: 200px; background-position: 0px -1600px; }
.OptimusPrimeG1_25Anniv { width: 200px; height: 200px; background-position: -200px -1600px; }
.PolarClawBeastWars { width: 200px; height: 200px; background-position: -400px -1600px; }
.PoliceTransformer2001 { width: 200px; height: 200px; background-position: -600px -1600px; }
.Raphael { width: 200px; height: 200px; background-position: -800px -1600px; }
.RetroAndClassicArmorStatues { width: 200px; height: 200px; background-position: -1000px -1600px; }
.RGC83GmCannon2 { width: 200px; height: 200px; background-position: -1200px -1600px; }
.RGM79gGM { width: 200px; height: 200px; background-position: -1400px -1600px; }
.Rgm79GmAndBall { width: 200px; height: 200px; background-position: -1600px -1600px; }
.Rgm79nGmCustom { width: 200px; height: 200px; background-position: -1800px -1600px; }
.Ricochet { width: 200px; height: 200px; background-position: -2000px -1600px; }
.RileyAndScottMkIII { width: 200px; height: 200px; background-position: 0px -1800px; }
.RoadDog { width: 200px; height: 200px; background-position: -200px -1800px; }
.RobotechBattloidsSpartan { width: 200px; height: 200px; background-position: -400px -1800px; }
.RobotechDestroidExcalibur { width: 200px; height: 200px; background-position: -600px -1800px; }
.RobotechDestroidRadarX { width: 200px; height: 200px; background-position: -800px -1800px; }
.Rx79g { width: 200px; height: 200px; background-position: -1000px -1800px; }
.Sable { width: 200px; height: 200px; background-position: -1200px -1800px; }
.SandtrooperHeavyBlaster { width: 200px; height: 200px; background-position: -1400px -1800px; }
.Scarecrow { width: 200px; height: 200px; background-position: -1600px -1800px; }
.Scorch { width: 200px; height: 200px; background-position: -1800px -1800px; }
.ShadowHawk10Anniv { width: 200px; height: 200px; background-position: -2000px -1800px; }
.SkittlesNascar { width: 200px; height: 200px; background-position: 0px -2000px; }
.Spawn { width: 200px; height: 200px; background-position: -200px -2000px; }
.Spawn10Anniv { width: 200px; height: 200px; background-position: -400px -2000px; }
.SpiderMan2099 { width: 200px; height: 200px; background-position: -600px -2000px; }
.SpiderManBumpNgoCycle { width: 200px; height: 200px; background-position: -800px -2000px; }
.SpiderManFightingFalcon { width: 200px; height: 200px; background-position: -1000px -2000px; }
.SpiderManLunchBox { width: 200px; height: 200px; background-position: -1200px -2000px; }
.SpiderManSpark { width: 200px; height: 200px; background-position: -1400px -2000px; }
.StormtrooperHeavyCannon { width: 200px; height: 200px; background-position: -1600px -2000px; }
.SuperPosableSpiderMan { width: 200px; height: 200px; background-position: -1800px -2000px; }
.SuperPosableSpiderMan2 { width: 200px; height: 200px; background-position: -2000px -2000px; }
.T800EndoSkeleton { width: 200px; height: 200px; background-position: 0px -2200px; }
.ThunderbatNascar { width: 200px; height: 200px; background-position: -200px -2200px; }
.ToyBizIronManSpace { width: 200px; height: 200px; background-position: -400px -2200px; }
.ToybizSpiderMan { width: 200px; height: 200px; background-position: -600px -2200px; }
.TransformersLunchBox { width: 200px; height: 200px; background-position: -800px -2200px; }
.Tumbler { width: 200px; height: 200px; background-position: -1000px -2200px; }
.UltimateIronMan { width: 200px; height: 200px; background-position: -1200px -2200px; }
.UltimateIronManAnnihSeries { width: 200px; height: 200px; background-position: -1400px -2200px; }
.Venom { width: 200px; height: 200px; background-position: -1600px -2200px; }
.WarMachineGalSeries { width: 200px; height: 200px; background-position: -1800px -2200px; }
.WarMachineIM2 { width: 200px; height: 200px; background-position: -2000px -2200px; }
