.sprite { background-image: url('../images/books/ThumbsBooks.jpg'); background-color: transparent; background-repeat: no-repeat; }
.AClashOfKings { width: 200px; height: 200px; background-position: 0px 0px; }
.ADanceWithDragons { width: 200px; height: 200px; background-position: -200px 0px; }
.AFeastForCrows { width: 200px; height: 200px; background-position: -400px 0px; }
.AGameOfThrones { width: 200px; height: 200px; background-position: -600px 0px; }
.AgileDevelopmentWithScrum { width: 200px; height: 200px; background-position: -800px 0px; }
.ArtOfGameCharacters { width: 200px; height: 200px; background-position: -1000px 0px; }
.ArtofHalo { width: 200px; height: 200px; background-position: -1200px 0px; }
.ArtOfHalo3 { width: 200px; height: 200px; background-position: -1400px 0px; }
.AStormOfSwords { width: 200px; height: 200px; background-position: -1600px 0px; }
.AudioForGames { width: 200px; height: 200px; background-position: -1800px 0px; }
.BatmanAnimated { width: 200px; height: 200px; background-position: -2000px 0px; }
.BatmanBeginsMovieNovel { width: 200px; height: 200px; background-position: -2200px 0px; }
.BatmanHandbook { width: 200px; height: 200px; background-position: -2400px 0px; }
.BatmanNoMansLand { width: 200px; height: 200px; background-position: -2600px 0px; }
.BatmanUltimateGuide { width: 200px; height: 200px; background-position: -2800px 0px; }
.BattletechLegendOfTheJadePhoenix { width: 200px; height: 200px; background-position: 0px -200px; }
.BattletechNaturalSelection { width: 200px; height: 200px; background-position: -200px -200px; }
.BattletechPrinceOfHavoc { width: 200px; height: 200px; background-position: -400px -200px; }
.BattletechTestOfVengeance { width: 200px; height: 200px; background-position: -600px -200px; }
.BattletechWolfPack { width: 200px; height: 200px; background-position: -800px -200px; }
.BehindTheMaskOfSpiderMan { width: 200px; height: 200px; background-position: -1000px -200px; }
.BillMauldinsArmy { width: 200px; height: 200px; background-position: -1200px -200px; }
.BrassRing { width: 200px; height: 200px; background-position: -1400px -200px; }
.CharacterDevAndStoryingtelling { width: 200px; height: 200px; background-position: -1600px -200px; }
.ChildrenOfTheMind { width: 200px; height: 200px; background-position: -1800px -200px; }
.ChryslerMuscle { width: 200px; height: 200px; background-position: -2000px -200px; }
.CompleteFictionOfHpLovecraft { width: 200px; height: 200px; background-position: -2200px -200px; }
.CompTiaAPlusCertification { width: 200px; height: 200px; background-position: -2400px -200px; }
.CplusplusProgramming { width: 200px; height: 200px; background-position: -2600px -200px; }
.CreatingGameArtFor3dEngines { width: 200px; height: 200px; background-position: -2800px -200px; }
.CreatingTheArtOfTheGame { width: 200px; height: 200px; background-position: 0px -400px; }
.DardevilMovieNovel { width: 200px; height: 200px; background-position: -200px -400px; }
.DarkAgeACallToArms { width: 200px; height: 200px; background-position: -400px -400px; }
.DarkAgeASilenceInTheHeavens { width: 200px; height: 200px; background-position: -600px -400px; }
.DarkAgeBloodOfTheIsle { width: 200px; height: 200px; background-position: -800px -400px; }
.DarkAgeByTemptationsAndByWar { width: 200px; height: 200px; background-position: -1000px -400px; }
.DarkAgeDaughterOfTheDragon { width: 200px; height: 200px; background-position: -1200px -400px; }
.DarkAgeFlightOfTheFalcon { width: 200px; height: 200px; background-position: -1400px -400px; }
.DarkAgeFortressOfLies { width: 200px; height: 200px; background-position: -1600px -400px; }
.DarkAgeGhostWar { width: 200px; height: 200px; background-position: -1800px -400px; }
.DarkAgeHuntersOfTheDeep { width: 200px; height: 200px; background-position: -2000px -400px; }
.DarkAgePatriotsStand { width: 200px; height: 200px; background-position: -2200px -400px; }
.DarkAgeRuinsOfPower { width: 200px; height: 200px; background-position: -2400px -400px; }
.DarkAgeServiceForTheDead { width: 200px; height: 200px; background-position: -2600px -400px; }
.DarkAgeSwordOfSedition { width: 200px; height: 200px; background-position: -2800px -400px; }
.DarkAgeTargetOfOpportunity { width: 200px; height: 200px; background-position: 0px -600px; }
.DarkAgeTheScorpionJar { width: 200px; height: 200px; background-position: -200px -600px; }
.DarkAgeTruthAndShadows { width: 200px; height: 200px; background-position: -400px -600px; }
.DiabloArchive { width: 200px; height: 200px; background-position: -600px -600px; }
.DiabloBirthright { width: 200px; height: 200px; background-position: -800px -600px; }
.DiabloDemonsbane { width: 200px; height: 200px; background-position: -1000px -600px; }
.DiabloIIIBookOfCain { width: 200px; height: 200px; background-position: -1200px -600px; }
.DiabloIIIBookOfTyrael { width: 200px; height: 200px; background-position: -1400px -600px; }
.DiabloIIIStormOfLight { width: 200px; height: 200px; background-position: -1600px -600px; }
.DiabloIIITheOrder { width: 200px; height: 200px; background-position: -1800px -600px; }
.DiabloKingdomOfShadow { width: 200px; height: 200px; background-position: -2000px -600px; }
.DiabloLegacyOfBlood { width: 200px; height: 200px; background-position: -2200px -600px; }
.DiabloMoonOfTheSpider { width: 200px; height: 200px; background-position: -2400px -600px; }
.DiabloScalesOfTheSerpent { width: 200px; height: 200px; background-position: -2600px -600px; }
.DiabloTheBlackRoad { width: 200px; height: 200px; background-position: -2800px -600px; }
.DiabloTheVeiledProphet { width: 200px; height: 200px; background-position: 0px -800px; }
.DigitalLightingAndRendering { width: 200px; height: 200px; background-position: -200px -800px; }
.DoomEndgame { width: 200px; height: 200px; background-position: -400px -800px; }
.DoomHellOnEarth { width: 200px; height: 200px; background-position: -600px -800px; }
.DoomInfernalSky { width: 200px; height: 200px; background-position: -800px -800px; }
.DoomKneeDeepInTheDead { width: 200px; height: 200px; background-position: -1000px -800px; }
.DrawingForAnimation { width: 200px; height: 200px; background-position: -1200px -800px; }
.DrawMangaGameCharacters { width: 200px; height: 200px; background-position: -1400px -800px; }
.EnderQuartet { width: 200px; height: 200px; background-position: -1600px -800px; }
.EndersGame { width: 200px; height: 200px; background-position: -1800px -800px; }
.FemmeDigitale { width: 200px; height: 200px; background-position: -2000px -800px; }
.GameArtComplete { width: 200px; height: 200px; background-position: -2200px -800px; }
.GameCharacterDesignComplete { width: 200px; height: 200px; background-position: -2400px -800px; }
.GameDesign2ndEd { width: 200px; height: 200px; background-position: -2600px -800px; }
.GameInterfaceDesign { width: 200px; height: 200px; background-position: -2800px -800px; }
.GameLevelDesign { width: 200px; height: 200px; background-position: 0px -1000px; }
.GameProducersHandbook { width: 200px; height: 200px; background-position: -200px -1000px; }
.GearsOfWarAnvilGate { width: 200px; height: 200px; background-position: -400px -1000px; }
.GearsOfWarAsphoFields { width: 200px; height: 200px; background-position: -600px -1000px; }
.GearsOfWarCoalitionsEnd { width: 200px; height: 200px; background-position: -800px -1000px; }
.GearsOfWarJacintosRemnant { width: 200px; height: 200px; background-position: -1000px -1000px; }
.GearsOfWarLmGuide { width: 200px; height: 200px; background-position: -1200px -1000px; }
.GearsOfWarTheSlab { width: 200px; height: 200px; background-position: -1400px -1000px; }
.GetInTheGame { width: 200px; height: 200px; background-position: -1600px -1000px; }
.GhostRiderMovieNovel { width: 200px; height: 200px; background-position: -1800px -1000px; }
.Halo2Guide { width: 200px; height: 200px; background-position: -2000px -1000px; }
.HaloBrokenCircle { width: 200px; height: 200px; background-position: -2200px -1000px; }
.HaloContactHarvest { width: 200px; height: 200px; background-position: -2400px -1000px; }
.HaloCryptum { width: 200px; height: 200px; background-position: -2600px -1000px; }
.HaloEvolutions { width: 200px; height: 200px; background-position: -2800px -1000px; }
.HaloFirstStrike { width: 200px; height: 200px; background-position: 0px -1200px; }
.HaloGhostsOfOnyx { width: 200px; height: 200px; background-position: -200px -1200px; }
.HaloGrasslands { width: 200px; height: 200px; background-position: -400px -1200px; }
.HaloHuntersInTheDark { width: 200px; height: 200px; background-position: -600px -1200px; }
.HaloLastLight { width: 200px; height: 200px; background-position: -800px -1200px; }
.HaloMortalDictata { width: 200px; height: 200px; background-position: -1000px -1200px; }
.HaloPrimordium { width: 200px; height: 200px; background-position: -1200px -1200px; }
.HaloSilentium { width: 200px; height: 200px; background-position: -1400px -1200px; }
.HaloTheColeProtocol { width: 200px; height: 200px; background-position: -1600px -1200px; }
.HaloTheFallOfReach { width: 200px; height: 200px; background-position: -1800px -1200px; }
.HaloTheFlood { width: 200px; height: 200px; background-position: -2000px -1200px; }
.HaloTheThursdayWar { width: 200px; height: 200px; background-position: -2200px -1200px; }
.HellBeasts { width: 200px; height: 200px; background-position: -2400px -1200px; }
.HellgateLondonCovenant { width: 200px; height: 200px; background-position: -2600px -1200px; }
.HellgateLondonExodus { width: 200px; height: 200px; background-position: -2800px -1200px; }
.HellgateLondonGoetia { width: 200px; height: 200px; background-position: 0px -1400px; }
.HitchhikersGuideToTheGalaxy { width: 200px; height: 200px; background-position: -200px -1400px; }
.Houdini { width: 200px; height: 200px; background-position: -400px -1400px; }
.HowDrawComicsMarvelWay { width: 200px; height: 200px; background-position: -600px -1400px; }
.HowToDrawTransformingRobots { width: 200px; height: 200px; background-position: -800px -1400px; }
.HulkMovieNovel { width: 200px; height: 200px; background-position: -1000px -1400px; }
.IllustrationAndStoryboardingForGames { width: 200px; height: 200px; background-position: -1200px -1400px; }
.IndieGameDevSurvivalGuide { width: 200px; height: 200px; background-position: -1400px -1400px; }
.IronMan2MovieNovel { width: 200px; height: 200px; background-position: -1600px -1400px; }
.IronManMovieNovel { width: 200px; height: 200px; background-position: -1800px -1400px; }
.IronManOperationAIM { width: 200px; height: 200px; background-position: -2000px -1400px; }
.IronManSteelTerror { width: 200px; height: 200px; background-position: -2200px -1400px; }
.IronManTheArmorTrap { width: 200px; height: 200px; background-position: -2400px -1400px; }
.MarvelCharactersAndUniverse { width: 200px; height: 200px; background-position: -2600px -1400px; }
.MarvelUniverse { width: 200px; height: 200px; background-position: -2800px -1400px; }
.MasteringUnrealVol1 { width: 200px; height: 200px; background-position: 0px -1600px; }
.MasteringUnrealVol2 { width: 200px; height: 200px; background-position: -200px -1600px; }
.MechwarriorByBloodBetrayed { width: 200px; height: 200px; background-position: -400px -1600px; }
.MechwarriorRoarOfHonor { width: 200px; height: 200px; background-position: -600px -1600px; }
.MechwarriorTheDyingTime { width: 200px; height: 200px; background-position: -800px -1600px; }
.MultiplayerEngineCodingForTGE { width: 200px; height: 200px; background-position: -1000px -1600px; }
.NewHistoryCivilWar { width: 200px; height: 200px; background-position: -1200px -1600px; }
.OriginOfSpecies { width: 200px; height: 200px; background-position: -1400px -1600px; }
.PhotoshopCsClassroom { width: 200px; height: 200px; background-position: -1600px -1600px; }
.PredatorBigGame { width: 200px; height: 200px; background-position: -1800px -1600px; }
.PredatorColdWar { width: 200px; height: 200px; background-position: -2000px -1600px; }
.ProgrammingLogicAndDesign { width: 200px; height: 200px; background-position: -2200px -1600px; }
.ResidentEvil5Guide { width: 200px; height: 200px; background-position: -2400px -1600px; }
.ResidentEvilArchives { width: 200px; height: 200px; background-position: -2600px -1600px; }
.RobotJox { width: 200px; height: 200px; background-position: -2800px -1600px; }
.Slutever { width: 200px; height: 200px; background-position: 0px -1800px; }
.SpeakerForTheDead { width: 200px; height: 200px; background-position: -200px -1800px; }
.SpiderMan2MovieNovel { width: 200px; height: 200px; background-position: -400px -1800px; }
.SpiderMan3MovieNovel { width: 200px; height: 200px; background-position: -600px -1800px; }
.SpiderManCarnageInNewYork { width: 200px; height: 200px; background-position: -800px -1800px; }
.SpiderManIronManSabotage { width: 200px; height: 200px; background-position: -1000px -1800px; }
.SpiderManMovieNovel { width: 200px; height: 200px; background-position: -1200px -1800px; }
.SpiderManSecretOfTheSinisterSix { width: 200px; height: 200px; background-position: -1400px -1800px; }
.SpiderManUltimateGuide { width: 200px; height: 200px; background-position: -1600px -1800px; }
.SpiderManWantedDeadOrAlive { width: 200px; height: 200px; background-position: -1800px -1800px; }
.StarcraftArchive { width: 200px; height: 200px; background-position: -2000px -1800px; }
.StarcraftFirstborn { width: 200px; height: 200px; background-position: -2200px -1800px; }
.StarcraftGhostNova { width: 200px; height: 200px; background-position: -2400px -1800px; }
.StarcraftGhostSpectres { width: 200px; height: 200px; background-position: -2600px -1800px; }
.StarcraftHeavensDevils { width: 200px; height: 200px; background-position: -2800px -1800px; }
.StarcraftIIDevilsDue { width: 200px; height: 200px; background-position: 0px -2000px; }
.StarcraftIIFlashpoint { width: 200px; height: 200px; background-position: -200px -2000px; }
.StarcraftIMengsk { width: 200px; height: 200px; background-position: -400px -2000px; }
.StarcraftLibertysCrusade { width: 200px; height: 200px; background-position: -600px -2000px; }
.StarcraftQueenOfBlades { width: 200px; height: 200px; background-position: -800px -2000px; }
.StarcraftShadowHunters { width: 200px; height: 200px; background-position: -1000px -2000px; }
.StarcraftShadowOfTheXelNaga { width: 200px; height: 200px; background-position: -1200px -2000px; }
.StarcraftSpeedOfDarkness { width: 200px; height: 200px; background-position: -1400px -2000px; }
.StarcraftTwilight { width: 200px; height: 200px; background-position: -1600px -2000px; }
.StarcraftUprising { width: 200px; height: 200px; background-position: -1800px -2000px; }
.StarsWarsIc501st { width: 200px; height: 200px; background-position: -2000px -2000px; }
.StarWarsDeathTroopers { width: 200px; height: 200px; background-position: -2200px -2000px; }
.StarWarsHardMerchandise { width: 200px; height: 200px; background-position: -2400px -2000px; }
.StarWarsMandalorianArmor { width: 200px; height: 200px; background-position: -2600px -2000px; }
.StarWarsRcHardContact { width: 200px; height: 200px; background-position: -2800px -2000px; }
.StarWarsRcOrder66 { width: 200px; height: 200px; background-position: 0px -2200px; }
.StarWarsRcTripleZero { width: 200px; height: 200px; background-position: -200px -2200px; }
.StarWarsRcTrueColors { width: 200px; height: 200px; background-position: -400px -2200px; }
.StarWarsSlaveShip { width: 200px; height: 200px; background-position: -600px -2200px; }
.TechnologyAndSociety { width: 200px; height: 200px; background-position: -800px -2200px; }
.TechnologyOfDestruction { width: 200px; height: 200px; background-position: -1000px -2200px; }
.TheNameOfTheWind { width: 200px; height: 200px; background-position: -1200px -2200px; }
.TheRavenAndOtherPoems { width: 200px; height: 200px; background-position: -1400px -2200px; }
.TheVoyageOfTheBeagle { width: 200px; height: 200px; background-position: -1600px -2200px; }
.TheWiseMansFear { width: 200px; height: 200px; background-position: -1800px -2200px; }
.ThreeDGameEnvironments { width: 200px; height: 200px; background-position: -2000px -2200px; }
.ThreeDGameTextures { width: 200px; height: 200px; background-position: -2200px -2200px; }
.ThreeDSMax7Fundamentals { width: 200px; height: 200px; background-position: -2400px -2200px; }
.ThreeDSMaxModelingBotsMechsDroids { width: 200px; height: 200px; background-position: -2600px -2200px; }
.ThreeDSMaxModelingForGames { width: 200px; height: 200px; background-position: -2800px -2200px; }
.TransformersAnnihilation { width: 200px; height: 200px; background-position: 0px -2400px; }
.TransformersFusion { width: 200px; height: 200px; background-position: -200px -2400px; }
.TransformersHardwired { width: 200px; height: 200px; background-position: -400px -2400px; }
.TransformersMovieNovel { width: 200px; height: 200px; background-position: -600px -2400px; }
.TransformersUltimateGuide { width: 200px; height: 200px; background-position: -800px -2400px; }
.TwoDGameBuilding { width: 200px; height: 200px; background-position: -1000px -2400px; }
.UnitedStatesOfJapan { width: 200px; height: 200px; background-position: -1200px -2400px; }
.UnofficalLegoBuildersGuide { width: 200px; height: 200px; background-position: -1400px -2400px; }
.UpFront { width: 200px; height: 200px; background-position: -1600px -2400px; }
.WarcraftArchive { width: 200px; height: 200px; background-position: -1800px -2400px; }
.WarcraftDayOfTheDragon { width: 200px; height: 200px; background-position: -2000px -2400px; }
.WarcraftLordOfTheClans { width: 200px; height: 200px; background-position: -2200px -2400px; }
.WarcraftOfBloodAndHonor { width: 200px; height: 200px; background-position: -2400px -2400px; }
.WarcraftTheLastGuardian { width: 200px; height: 200px; background-position: -2600px -2400px; }
.Xenocide { width: 200px; height: 200px; background-position: -2800px -2400px; }
.XMen2MovieNovel { width: 200px; height: 200px; background-position: 0px -2600px; }
.XMenLegacyQuestBook1 { width: 200px; height: 200px; background-position: -200px -2600px; }
.XMenLegacyQuestBook2 { width: 200px; height: 200px; background-position: -400px -2600px; }
.XMenLegacyQuestBook3 { width: 200px; height: 200px; background-position: -600px -2600px; }
.YouCanDrawMecha { width: 200px; height: 200px; background-position: -800px -2600px; }
.YoureNeverWeirdOnTheInternet { width: 200px; height: 200px; background-position: -1000px -2600px; }
.ZombieSurvivalGuide { width: 200px; height: 200px; background-position: -1200px -2600px; }
