.sprite { background-image: url('../images/models/ThumbsModels.jpg'); background-color: transparent; background-repeat: no-repeat; }
.ActionBase2Gray { width: 200px; height: 200px; background-position: 0px 0px; }
.AmericanDreamsChallenger { width: 200px; height: 200px; background-position: -200px 0px; }
.Av98Ingram { width: 200px; height: 200px; background-position: -400px 0px; }
.Barbatos { width: 200px; height: 200px; background-position: -600px 0px; }
.Barbatos100 { width: 200px; height: 200px; background-position: -800px 0px; }
.BarbatosLupus { width: 200px; height: 200px; background-position: -1000px 0px; }
.BlackBeauty { width: 200px; height: 200px; background-position: -1200px 0px; }
.Chevy58ImpalaLowrider { width: 200px; height: 200px; background-position: 0px -200px; }
.DaleJrOreo { width: 200px; height: 200px; background-position: -200px -200px; }
.Dodge2009Challenger { width: 200px; height: 200px; background-position: -400px -200px; }
.Dodge426Hemi { width: 200px; height: 200px; background-position: -600px -200px; }
.Dodge70ChallengerTA { width: 200px; height: 200px; background-position: -800px -200px; }
.DodgeRam1500 { width: 200px; height: 200px; background-position: -1000px -200px; }
.EzArms { width: 200px; height: 200px; background-position: -1200px -200px; }
.EzSr { width: 200px; height: 200px; background-position: 0px -400px; }
.Ford41Woody { width: 200px; height: 200px; background-position: -200px -400px; }
.Gastima { width: 200px; height: 200px; background-position: -400px -400px; }
.GearaDoga { width: 200px; height: 200px; background-position: -600px -400px; }
.GeonaceCustom { width: 200px; height: 200px; background-position: -800px -400px; }
.GmcPickupWPlow { width: 200px; height: 200px; background-position: -1000px -400px; }
.GmIII { width: 200px; height: 200px; background-position: -1200px -400px; }
.GmSniper2Mg { width: 200px; height: 200px; background-position: 0px -600px; }
.GmSniperK9 { width: 200px; height: 200px; background-position: -200px -600px; }
.GP02aTypeMLRS { width: 200px; height: 200px; background-position: -400px -600px; }
.GyaGya { width: 200px; height: 200px; background-position: -600px -600px; }
.HeavyArmsMg { width: 200px; height: 200px; background-position: -800px -600px; }
.IhTranstarEagle { width: 200px; height: 200px; background-position: -1000px -600px; }
.JestaCannon { width: 200px; height: 200px; background-position: -1200px -600px; }
.JestaMg { width: 200px; height: 200px; background-position: 0px -800px; }
.KampferAmazing { width: 200px; height: 200px; background-position: -200px -800px; }
.KnightRider { width: 200px; height: 200px; background-position: -400px -800px; }
.KnightRider2000 { width: 200px; height: 200px; background-position: -600px -800px; }
.LowboyTrailer { width: 200px; height: 200px; background-position: -800px -800px; }
.MsOptionSet5 { width: 200px; height: 200px; background-position: -1000px -800px; }
.Rgm79Gm { width: 200px; height: 200px; background-position: -1200px -800px; }
.Rgm79nGmCustom { width: 200px; height: 200px; background-position: 0px -1000px; }
.RgmConroysJegan { width: 200px; height: 200px; background-position: -200px -1000px; }
.RgmJegan { width: 200px; height: 200px; background-position: -400px -1000px; }
.Rx78v3Mg { width: 200px; height: 200px; background-position: -600px -1000px; }
.SerpentCustom { width: 200px; height: 200px; background-position: -800px -1000px; }
.SpaceJahannam { width: 200px; height: 200px; background-position: -1000px -1000px; }
.SubaruWrxSti { width: 200px; height: 200px; background-position: -1200px -1000px; }
.SystemBase1 { width: 200px; height: 200px; background-position: 0px -1200px; }
.ValvraveIHito { width: 200px; height: 200px; background-position: -200px -1200px; }
.VanishingPointChallenger { width: 200px; height: 200px; background-position: -400px -1200px; }
.ZakuSniper { width: 200px; height: 200px; background-position: -600px -1200px; }
.Zedas { width: 200px; height: 200px; background-position: -800px -1200px; }
