// Media Queries

// Desktop
@include desktop{
     .page-comics p, .menu-Extras, label, #mobile-menu, .rj-tablet-alt, .rj-mobile-alt{
          display: none;
     }

     #mobile-menu-toggle:checked + #mobile-menu{display: none !important;} // This forces the mobile menu to hide when switching out of mobile view
}

// Tablet
@include tablet{
     .page-comics embed, label, #mobile-menu, .menu-Extras, .rj-desktop, .rj-mobile-alt, .nav-title, .nav-logo{
          display: none !important;
     }

     #mobile-menu-toggle:checked + #mobile-menu{display: none !important;} // This forces the mobile menu to hide when switching out of mobile view

     .to-top{
          right: 1rem;
          bottom: 2.5rem;
     }

     nav{
          ul{
               grid-template-columns: repeat(6, 1fr);
          } 
     }

     .page-contact{
          div{
               grid-template-columns: 1fr;
          }
     }
     
     .gallery{
          grid-template-columns: repeat(2, 1fr);
     }
}

// Mobile
@include mobile{
     .page-comics embed, .main-menu, .menu-Extras, .nav-logo, .nav-title, .rj-desktop, .rj-tablet-alt{
          display: none;
     }

     main{
          header{
               margin: 0.25rem;
          }

          section{
               padding: 0.5rem;
          }
     }

     nav{
          ul{
               display: none;
          } 
     }

     .page-about{
          .resume-links{
               p{
                    margin-bottom: 1rem;
               }

               div{
                    grid-template-columns: 1fr;
                    grid-gap: 0;
     
                    a{
                         margin: 0.5rem;
                         width: 90%;
                    }
               }
          }

          .education{
               p{
                    line-height: 1.5;

                    b{
                         display: block;
                         padding: 0.5rem;
                    }
               }
          }

          .related-skills{
               ul{
                    grid-template-columns: 1fr;
               }
          }

          .related-experience{
               ul{
                    font-size: 0.9rem;
                    line-height: 1.5;
                    
                    li{
                         margin: 1rem 0;
                    }
               }
          }
     }

     .gallery{
          grid-template-columns: 1fr;
     }

     h2{
          margin-bottom: 1rem;
     }

     .to-top{
          right: 0.25rem;
          bottom: 2.5rem;
     }

     .page-contact{
          div{
               grid-template-columns: 1fr;

               a{
                    width: 100%;
               }
          }
     }
}