// Components

// Buttons
.#{$site-prefix}-to-top{
    @include color-txt-based-on-bg($bg-opacity);
    position: fixed; right: 0; z-index: 2;
    bottom: 2.5rem; opacity:0.75; border-radius: 2rem;display:inline-block;
    padding: 0.5rem 1rem; vertical-align:middle;
    &:hover{
         opacity: 1;
    }
}

.#{$site-prefix}-btn, .#{$site-prefix}-button{
     border:none;
     display:inline-block;
     outline:0;
     padding:0.5rem 1rem;
     vertical-align:middle;
     overflow:hidden;
     text-decoration:none;
     color:inherit;
     background-color:inherit;
     text-align:center;
     cursor:pointer;
     white-space:nowrap;
     &:hover{
          box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.5), 0 0.75rem 1.25rem 0 rgba(0,0,0,0.4);
     }
}

// Cards
.#{$site-prefix}-card{
     box-shadow:0 0.25rem 0.75rem 0 rgba(0,0,0,0.2),0 0.25rem 1.25rem 0 rgba(0,0,0,0.19);
     margin-left: -1rem;
     margin-top: 0.5rem;
     color:#000;
     background-color:#fff;
}

// No Hover
.#{$site-prefix}-hover-none:hover{
     background-color: transparent !important;
     box-shadow: none !important;
     color: inherit;
     cursor: default;
}

// Embed and Video, Extracted from Bootstrap
.embed-responsive {position: relative; display: block;
	width: 100%; padding: 0; overflow: hidden;
}
.embed-responsive::before { display: block; content: ""; }
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed,
.embed-responsive object, .embed-responsive video {position: absolute; top: 0; bottom: 0;
	left: 0; width: 100%; height: 100%; border: 0;}
.embed-responsive-21by9::before {padding-top: 42.857143%;}
.embed-responsive-16by9::before {padding-top: 56.25%;}
.embed-responsive-4by3::before {padding-top: 75%;}
.embed-responsive-1by1::before {padding-top: 100%;}

// Form
form{
    @extend .#{$site-prefix}-container;
    padding: 1rem 1rem 3rem 1rem;
    margin-bottom: 2rem;
    
    div{
          margin-bottom: 1rem;
    }
    label{
         display: block; 
         margin-left: 3em;
    }
    .#{$site-prefix}-input{
         float: right;
         width: 95%;
    }
    .fas{
         vertical-align: top;
         font-size: 2em;  
    }
    #reCaptchaDiv{
         border: 0.05rem white solid;
    }
    .error{    
          @include color-txt-based-on-bg($red);    
    }
    .success{
          @include color-txt-based-on-bg($green);
    }
    .captcha{
          @include color-txt-based-on-bg($orange);
    }
    .captchaImg{
         margin-left: 2rem;
    }
    input[type=reset]{
         float: left;
         font-size: 1.25rem; 
         @include color-txt-based-on-bg($orange);
     }
     input[type=submit]{
          float: right;
          font-size: 1.25rem;
          @include color-txt-based-on-bg($secondary-color);
     }
}

.#{$site-prefix}-form-error{
     background-color: $yellow;
     color: $red;
}

.hiddenIframe {
     display: none;
}

.#{$site-prefix}-center-object{
     position: relative;
     left: 50%;
     transform: translateX(-50%);
}

.#{$site-prefix}-container-bg{
     @include color-txt-based-on-bg($bg-opacity);
     padding: 0.33rem;
}

// Container
.#{$site-prefix}-container{
     max-width: #{$container-width};
     margin:auto;
}

section{
     margin-top: 1rem;
     margin-bottom: 1rem;
}

// Page Announce
.#{$site-prefix}-page-announce{
     @include color-txt-based-on-bg($light-color);
     border-radius: 0.5rem;
     padding: 0.5rem 1rem;   
}

// Align
.#{$site-prefix}-top, .#{$site-prefix}-bottom{
     position: fixed;
     width: 100%;
     z-index: 1;
}
.#{$site-prefix}-top{top: 0;}
.#{$site-prefix}-bottom{bottom: 0;}

// Row, Columns
.#{$site-prefix}-row:before, .#{$site-prefix}-row:after{
     content:"";
     display:table;
     clear:both;
}

.#{$site-prefix}-col, .#{$site-prefix}-half, .#{$site-prefix}-third, .#{$site-prefix}-twothird,
.#{$site-prefix}-threequarter, .#{$site-prefix}-quarter, .#{$site-prefix}-fifth{
     float:left;
     width:100%;
}

.#{$site-prefix}-quarter{width: $quarter;}
.#{$site-prefix}-fifth{width: $fifth;}
.#{$site-prefix}-third{width: $third;}
.#{$site-prefix}-half{width: $half;}
.#{$site-prefix}-threequarter{width: $three-quarter;}
.#{$site-prefix}-twothird{width: $two-third;}
.#{$site-prefix}-rest{overflow:hidden;}

// Visibility
%-show{display:block;}
%-hide{display:none;}

.embed-responsive{margin-bottom: 2rem;}

.#{$site-prefix}-gallery{
     @extend .#{$site-prefix}-row;
     //display: flex; 
     //flex-direction: row;
     //flex-wrap: wrap; 
     //justify-content: space-around;
     div{
          width: $quarter;
          //@include color-txt-based-on-bg($secondary-color);
          display:inline-table;
          margin-bottom: 1rem;
          img{
               margin-top: 0.5rem;
               @extend .#{$site-prefix}-center-object;
               &:hover{
                    opacity: 0.5;
               }
          }
          p{
               margin: 0.5rem; 
          }
          .fas{
               margin-left: 1rem;
               font-size: 1.25em;
          }
     }
}

.#{$site-prefix}-have-completed{
     @include color-txt-based-on-bg($green);
     text-decoration: line-through;
}
.#{$site-prefix}-has-problems{
     @include color-txt-based-on-bg($red);
     text-decoration: line-through;
}