// Media Queries

// Desktop
@media only screen and (min-width:$desktop-min-size) {
     .#{$site-prefix}-footer-mobile, .#{$site-prefix}-indicator-tablet, .bs-mobile-btn,
     .#{$site-prefix}-page-comics a{
          display: none !important;
     }
     #menuExtras{
          display: none;
     }
}
// Tablet
@media (max-width: $tablet-max-size) and (min-width: $tablet-min-size) {
     .#{$site-prefix}-indicator-desktop, .#{$site-prefix}-footer-mobile, #menuExtras, .bs-mobile-btn, 
     .#{$site-prefix}-last-mod, .#{$site-prefix}-nav-title, .#{$site-prefix}-nav-logo,
     .#{$site-prefix}-page-comics embed{
          display: none !important;
     }
     .#{$site-prefix}-indicator-tablet{
          display: inline;
     }
     .#{$site-prefix}-gallery div{
          width: $third;
     }
     form .fa-fw{
          display: block;
          margin: 0.5rem auto;
     }
     form .#{$site-prefix}-input{
          width: 100%;
     }
}
// Mobile
@media only screen and (max-width: $mobile-max-size) {
     .#{$site-prefix}-footer-non-mobile, #menuExtras, nav .#{$site-prefix}-bar-item, .#{$site-prefix}-nav-logo,
     .#{$site-prefix}-page-comics embed{
          display: none !important;
     }
     .#{$site-prefix}-search-mobile-adjust{
          position:fixed;
          width:81%;
          z-index:1;
          top: -0.75rem;

     }
     .#{$site-prefix}-gallery div{
          clear: left;
          width: 100%;
          img{
               left: 50%;
               transform: translateX(-50%);
          }
     }
     .#{$site-prefix}-page-comics a{
          display: inline;
     }
     .#{$site-prefix}-link-btns a{
          clear: both;
          width: 100%;
          border-left: none;
          border-bottom: 0.05rem $secondary-color solid;
     }
     form .fa-fw{
          display: block;
          margin: 0.5rem auto;
     }
     form .#{$site-prefix}-input{
          width: 100%;
     }
}