// Nav
header{
     width: 100%;
     position: fixed;
     background-color: $primary-color;
     z-index: 1;
     top: 0;

     nav{
          max-width: #{$container-width};
          margin: auto;   
          height: 100%;

          ul{
               display: grid;
               grid-template-columns: repeat(9, 1fr);
               grid-template-areas:
               'navTitle navLogo navAbout navBlog navImages navVideos navContact navExtras navMobile';
               justify-items: center;

               li{
                    padding-top: 0.5rem;
                    padding-bottom: 1rem;
                    @include easeInOut;
                    
                    a{
                         padding: 1rem 1rem;
                         color: $light-color;
                    }
                    &:hover{
                         background-color: $dark-color;
                         color: set-text-color($dark-color);
                    }

                    &:nth-child(1){
                         grid-area: navTitle;
                         &:hover{
                              background: transparent;
                              cursor: default;
                         }
                    }
                    &:nth-child(2){
                         grid-area: navLogo;
                         display: inline-block;
                         height: 2rem;
                         line-height: 2rem;
                         position: relative;
                         vertical-align: middle;
                         width: 2rem;

                         i{
                              font-size: 2rem;
                              left: 0;
                              position: absolute;
                              text-align :center;
                              width: 100%;
                         }

                         &:hover{
                              background: transparent;
                              cursor: default;
                         }
                    }
                    &:nth-child(3){grid-area: navAbout;}
                    &:nth-child(4){grid-area: navBlog;}
                    &:nth-child(5){grid-area: navImages;}
                    &:nth-child(6){grid-area: navVideos;}
                    &:nth-child(7){grid-area: navContact;}
                    &:nth-child(8){
                         grid-area: navExtras;
                         &:hover{
                              .dropdown-content{
                                   display: block;
                                   z-index: 1;
                              }
                         }
                    }
                    &:nth-child(9){grid-area: navMobile;}
               }
          }

          .nav-title{
               color: $light-color;
               text-transform: uppercase;
               letter-spacing: 0.1rem;
               margin-top: 0.2rem;
          }

          .menu-Extras{
               .dropdown-content{
                    display: none;
                    position: absolute;
               }

               &:hover{
                    .dropdown-content{
                         border: 0.1rem solid $secondary-color;
                         cursor: auto;
                         
                         display: block;
                         z-index:1;
                         //top: 2.5rem;
                         //right: 20rem;
                         margin-top: 1rem;
                         margin-left: -2.5rem;
                         min-width: 8rem;
                         a{
                              display: block;
                              text-align: center;
                              padding: 0.5rem 0.1rem;
                              background-color: $light-color;
                              color: set-text-color($light-color);
                              @include easeInOut;
                              &:hover{
                                   background-color: $dark-color;
                                   color: set-text-color($dark-color);
                              }
                         }
                    }
               }    
          }

          .mobile-menu{
               .mobile-btn{
                    padding: 0.5rem 1rem;
                    float: right;
                    background-color: $dark-color;
                    color: set-text-color($dark-color);
                    @include easeInOut;
     
                    &:hover{
                         background-color: $light-color;
                         color: set-text-color($light-color);
                    }

                    .fas{
                         font-size: 2rem;
                    }
               }

               .mobile-dropdown-content{
                    display: none;
                    position: absolute;
                    margin-top: 3rem;
                    width: 100%;

                    a{
                         text-transform: uppercase;
                         display: block;
                         text-align: center;
                         padding: 1rem 0rem;
                         
                         background-color: $light-color;
                         color: set-text-color($light-color);
                         @include easeInOut;

                         &:hover{
                              background-color: $dark-color;
                              color: set-text-color($dark-color)
                         }
                    }
               }
          }
     }    
}

.menu-highlight{
     background-color: $light-color;
     color: set-text-color($light-color);
}

.menu-dropdown-highlight{
     background-color: $secondary-color !important;
     color: set-text-color($secondary-color) !important;
}

footer{
     bottom: 0;
     position: fixed;
     width: 100%;
     background-color: $primary-color;
     z-index: 1;
     font-size: 0.8rem;
     padding-top: 0.5rem;

     ul{
          max-width: #{$container-width};
          margin: auto;
          display: grid;
          grid-gap: 0.5rem;
          grid-template-columns: repeat(3, 1fr);
          justify-items: center;

          li{
               //Bold copyright
               &:nth-child(1){
                    font-weight: 600;
               }
          }
     }

     .last-mod{
          color: $accent-color;
     }

     .fas{
          font-size: 1.25rem;
     }
}