// Pages

// About
.#{$site-prefix}-link-btns{
     @extend .#{$site-prefix}-row;
     margin: 2rem 1rem;
     a{
          @include color-txt-based-on-bg($dark-color);
          text-align: center;
          padding: 2rem 0.5rem;   
          border-left: 0.05rem $secondary-color solid;  
          &:hover{
               @include color-txt-based-on-bg($light-color);
          }
     }
}

.#{$site-prefix}-resume-links{
     @extend .#{$site-prefix}-link-btns;    
     a{
          @extend .#{$site-prefix}-third; 
     }
}

.#{$site-prefix}-education{
     line-height: 2rem;
     span{
          color: $black;
          background: $white;
          border: 0.2rem solid $primary-color;
          padding: 0.1rem 0.25rem;
     }
}

.#{$site-prefix}-related-experience{
     @extend .#{$site-prefix}-education;
}

.#{$site-prefix}-powered-by{
     @extend .#{$site-prefix}-link-btns;    
     a{
          @extend .#{$site-prefix}-fifth; 
     }
}

//Images
.#{$site-prefix}-page-images{
     a{
          background: none;
     }
     h1 .fas{
          background: none;
     }
     .fas{
          background: $primary-color;
          padding: 0.1rem;
     }
}

//Books
.#{$site-prefix}-page-books{
     a{
          background: none;
     }
}

//Models
.#{$site-prefix}-page-models{
     a{
          background: none;
     }
}

//Games and MoviesTV
.#{$site-prefix}-page-games, .#{$site-prefix}-page-movies-tv{
     .#{$site-prefix}-tag{
          font-size: 1.5rem;
          font-weight: bold;
     }
}

//Quotes
blockquote cite{
     display: block;
     font-size: 1rem;
     &:before{
          content: " - ";
     }
}

//Toys
.#{$site-prefix}-page-toys{
     a{
          background: none;
     }
}

blockquote:nth-child(odd){
     border-left: 0.5rem solid $secondary-color;
     @include color-txt-based-on-bg($primary-color);
}
blockquote:nth-child(even){
     border-left: 0.5rem solid $primary-color;
     @include color-txt-based-on-bg($secondary-color);
}