// Text

// Center Txt
.#{$site-prefix}-center-txt {
     text-align: center;
}

p{
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
}

.#{$site-prefix}-ul{
     list-style-type: none;
     li{
          padding: 0.5rem 1rem;
          border-bottom: 0.15rem solid $white;
          &:last-child{
               border-bottom:none;
          }
     }
}

mark{
     background: $yellow;
     color: $black;
}

.version {
     color: $light-color !important;
     background-color: $blue;
}
.first {
     color: $yellow !important;
     font-size: 1.25rem;
     font-variant: small-caps;
}

.#{$site-prefix}-last-mod{
     color: $sand;
}

.#{$site-prefix}-site-ver{
     font-weight: bold;
     padding: 0.2rem;
     border-radius: 0.5rem;
     @include color-txt-based-on-bg($secondary-color);
}

.#{$site-prefix}-text-size-default{
     font-size: 1rem;
}

.#{$site-prefix}-bg-grid{
     position: fixed;
     transform: translate(-50%,-10%);
     -ms-transform: translate(-50%,-10%);
     top: 0;
     left: 50%;
     z-index: -1;
     font-size: 106rem;
     color: $blue;
}

.#{$site-prefix}-input{
     padding: 0.5rem 0;
     display:block;
     border:none;
     font-size: 1.25rem; 
     width:100%;
     @include color-txt-based-on-bg($light-color);
}

.#{$site-prefix}-tag{
     border-radius: 0.5rem;
     width: 100%;
     display:inline-block;
     text-align:center;
     margin-bottom: 0.5rem;
     margin-top: 0.5rem;
     @include color-txt-based-on-bg($primary-color);
}

blockquote{
     padding: 1rem;
     margin-top: 1rem;
     font-size: 1.25em;
}

// Font Icons
.rj-bs-text{color: $black;}

footer{
     .fab{
          background-color: $light-color;
     }
}

.fa-facebook{color: #607d8b;}
.rj-bs-block, .fa-desktop{color: $light-color;}

.#{$site-prefix}-page-movies-tv{
    .fas, .rj{
         background-color: $dark-color;
         position: relative;
         margin-left: 0.5rem;
         padding: 0.25rem 0.25rem;
     }
}

.fa-tv{color: $cyan;}
.fa-film{color: $yellow;}
.#{$site-prefix}-page-blog b, .fa-thumbs-up{color: $green;}
.formValidate, .fa-youtube, .fa-thumbs-down, .fa-file-pdf{color: $red;}

.#{$site-prefix}-page-announce span, .rj-bs-grid, .fa-mobile-alt, .fa-file-word{color: $blue;}
.fa-file-alt{color: $grey;}
.fa-tablet-alt, .fa-html5, .#{$site-prefix}-contact-note, .#{$site-prefix}-page-blog i{color: $orange;}
.fa-css3-alt, .fa-font-awesome{color: #2196F3;}
.fa-js{color: saddlebrown;}
.fa-bed, .fa-sass{color: $pink;}